<div class="bDiv" style="height: auto;">
    <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
        <table>
            <tbody>
            {foreach $users as $vo}
            <tr>
                <td class="sign">
                    <div style="width: 24px;"><i class="ico-check"></i></div>
                </td>
                <td align="left" class="">
                    <div style="text-align: left; width: 150px;">{$vo.name}</div>
                </td>
                <td align="left" class="">
                    <div style="text-align: left; width: 50px;">{$vo.contacts}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 100px;">{$vo.phone}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 200px;">{$vo.address}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 150px;">{$vo.create_time/1000|date='Y-m-d H:i',###}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 50px;">{:$vo.status=="1"?"可用":"禁用"}</div>
                </td>
                <td align="center" class="">
                    <div style="text-align: center; width: 50px;">{$vo.valid|valid_out}</div>
                </td>
                <td align="center" class="handle">
                    <div style="text-align: center; width: 170px; max-width:170px;">
                        <a href="{:url('details',['vender_id',=> $vo.vender_id])}" class="btn blue"><i class="fa fa-pencil-square-o"></i>编辑</a>
                        <a class="btn red" href="javascript:void(0)"
                           data-url="{:$vo.status=='1'?url('del_user'):url('able_user')}"
                           data-id="{$vo.vender_id}" onClick="delfun(this)"><i class="fa fa-trash-o"></i>{:$vo.status=="1"?"禁用":"启用"}</a>
                    </div>
                </td>
                <td align="center" class="handle">
                    <div style="text-align: center; width: 170px; max-width:170px;">
                        <a class="btn green" href="javascript:void(0)"
                           data-url="{:url('pass')}"
                           data-id="{$vo.vender_id}" onClick="pass(this)"><i class="fa "></i>通过</a>
                        <a class="btn red" href="javascript:void(0)"
                           data-url="{:url('not_pass')}"
                           data-id="{$vo.vender_id}" onClick="not_pass(this)"><i class="fa "></i>不通过</a>
                    </div>
                </td>
                <td align="" class="" style="width: 100%;">
                    <div>&nbsp;</div>
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <div class="iDiv" style="display: none;"></div>
</div>

<!--分页位置-->
{$page}
<script>
    $(document).ready(function () {
        $("#count").html({$count})
    })
    //分页点击
    $(".pagination  a").click(function () {
        var page = $(this).data('p');
        ajax_get_table('search-form2', page);
    });

    //编辑点击
    function edit(obj) {
        // 编辑按钮
        var name = $(obj).attr('data-name');
        var phone = $(obj).attr('data-phone');
        var url = $(obj).attr('data-url');
        var id = $(obj).attr('data-id');
        var edit = layer.open({
            id: 1,
            type: 1,
            title: '编辑用户',
            content: "<div class=\"ncap-form-default\">\n" +
                "    <dl class=\"row\">\n" +
                "        <dt class=\"tit\">\n" +
                "            <label for=\"record_no\">修改的手机号</label>\n" +
                "        </dt>\n" +
                "        <dd class=\"opt\">\n" +
                "            <input id=\"phone\" name=\"record_no\"  class=\"input-txt\" type=\"text\">\n" +
                "            <p class=\"notic\">修改的手机号</p>\n" +
                "        </dd>\n" +
                "    </dl>\n" +
                "    <dl class=\"row\">\n" +
                "        <dt class=\"tit\">\n" +
                "            <label for=\"record_no\">修改的名字</label>\n" +
                "        </dt>\n" +
                "        <dd class=\"opt\">\n" +
                "            <input id=\"name\" name=\"record_no\" class=\"input-txt\" type=\"text\">\n" +
                "            <p class=\"notic\">修改的名字</p>\n" +
                "        </dd>\n" +
                "    </dl>\n" +
                "</div>",
            btn: ['保存', '取消'],
            btn1: function () {
                if (checkMobile($("#phone").val())) {
                    layer.load(2);
                    $.ajax({
                        type: 'post',
                        url: url,
                        data: {
                            user_id: id,
                            phone: $("#phone").val(),
                            name: $("#name").val(),
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == 1) {
                                layer.closeAll();
                                layer.msg(data.msg, {icon: 1});
                                //刷新当前页
                                var page = $(".active > a").data('p');
                                ajax_get_table('search-form2', page);
                            } else {
                                layer.closeAll();
                                layer.alert(data.msg, {icon: 2});
                            }
                        },
                    })
                } else
                    layer.alert('请输入正确手机号码', {icon: 2});
            },
            btn2: function () {
                layer.close(edit)
            }
        });
        $("#phone").val(phone);
        $("#name").val(name);
        layer.style(edit, {width: '530px'});
    }

    //选中全部
    $('.hDivBox .sign').click(function () {
        var sign = $('#flexigrid > table>tbody>tr');
        if ($(this).parent().hasClass('trSelected')) {
            sign.each(function () {
                $(this).removeClass('trSelected');
            });
            $(this).parent().removeClass('trSelected');
        } else {
            sign.each(function () {
                $(this).addClass('trSelected');
            });
            $(this).parent().addClass('trSelected');
        }
    })
    // 表格行点击选中切换
    $('#flexigrid > table>tbody >tr').click(function () {
        $(this).toggleClass('trSelected');
    });

    function delfun(obj) {
        // 删除按钮
        layer.confirm("确认此操作？", {
            btn: ['确定', '取消'] //按钮
        }, function () {
            layer.load(2);
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {user_id: $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        layer.closeAll();
                        layer.msg(data.msg, {icon: 1});
                        //刷新当前页
                        var page = $(".active > a").data('p');
                        ajax_get_table('search-form2', page);
                    } else {
                        layer.closeAll();
                        layer.alert(data.msg, {icon: 2});
                    }
                },
            })
        }, function () {
            layer.closeAll();
        });
    }
    function pass(obj) {
        // 删除按钮
        layer.confirm("确认通过该用户审核吗？", {
            btn: ['确定', '取消'] //按钮
        }, function () {
            layer.load(2);
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {user_id: $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        layer.closeAll();
                        layer.msg(data.msg, {icon: 1});
                        //刷新当前页
                        var page = $(".active > a").data('p');
                        ajax_get_table('search-form2', page);
                    } else {
                        layer.closeAll();
                        layer.alert(data.msg, {icon: 2});
                    }
                },
            })
        }, function () {
            layer.closeAll();
        });
    }
    function not_pass(obj) {
        // 删除按钮
        layer.confirm("确认不通过该用户审核吗？", {
            btn: ['确定', '取消'] //按钮
        }, function () {
            layer.load(2);
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data: {user_id: $(obj).attr('data-id')},
                dataType: 'json',
                success: function (data) {
                    if (data.status == 1) {
                        layer.closeAll();
                        layer.msg(data.msg, {icon: 1});
                        //刷新当前页
                        var page = $(".active > a").data('p');
                        ajax_get_table('search-form2', page);
                    } else {
                        layer.closeAll();
                        layer.alert(data.msg, {icon: 2});
                    }
                },
            })
        }, function () {
            layer.closeAll();
        });
    }
</script>
