<div class="admincp-container-left">
    <div class="top-border"><span class="nav-side"></span><span class="sub-side"></span></div>
    <div id="admincpNavTabs_index" class="nav-tabs">
        <dl>
            <dt><a href="javascript:void(0);"><span class="ico-microshop-1"></span>
                <h3>概览</h3></a></dt>
            <dd class="sub-menu">
                <ul>
                    <li><a href="javascript:void(0);" data-param="welcome|Index">系统概览</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt><a href="javascript:void(0);"><span class="ico-microshop-1"></span>
                <h3>系统</h3></a></dt>
            <dd class="sub-menu">
                <ul>
                    <li><a href="javascript:void(0);" data-param="index|System">系统设置</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);" data-param="index|System">系统日志</a></li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt><a href="javascript:void(0);"><span class="ico-microshop-1"></span>
                <h3>管理</h3></a></dt>
            <dd class="sub-menu">
                <ul>
                    <li><a href="javascript:void(0);" data-param="userList|User">用户管理</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);" data-param="venderList|Vender">商家管理</a></li>
                </ul>
                <ul>
                    <li><a href="javascript:void(0);" data-param="venderList|Vender">订单管理</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
